<%= form_with(model: user, local: true, multipart: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if user_signed_in? %>
    <% if current_user.admin %>
  <div class="form-group">
    <%= form.label :admin %>
    <%= form.check_box :admin, id: :user_admin, class: "form-control" %>
  </div>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= form.label :password %>
    <%= form.text_field :password, id: :user_password, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, id: :user_email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, id: :user_address, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :user_last_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :image %>
    <%= form.file_field :image, id: :user_image, direct_upload: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :birth_date %>
    <%= form.date_select :birth_date, id: :user_birth_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :security_question %>
    <%= form.text_field :security_question, id: :user_security_question, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :security_answer %>
    <%= form.text_field :security_answer, id: :user_security_answer, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Create", class: "btn btn-success" %>
  </div>
<% end %>
