<h1><%= @user.email %></h1>
<div class="row">
  <div class="col-md-4">
    <h2>Profile Information</h2>
    <p>
      <strong>Name:</strong>
      <%= @user.name %>
    </p>
    <p>
      <strong>Last Name:</strong>
      <%= @user.last_name %>
    </p>
    <p>
      <strong>Birth date:</strong>
      <%= @user.birth_date %>
    </p>
    <p>
      <strong>Address:</strong>
      <%= @user.address %>
    </p>
    <%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-default" %>
  </div>
  <div class="col-md-4">
    <h2>My Projects</h2>
      <% for p in @projects do %>
        <h3><%= link_to p.title, p %></h3>
      <% end %>
    <h2>My Wishlist</h2>
  </div>
  <div class="col-md-4 text-center">
    <%= image_tag @user.image, class: "img img-responsive img-circle" %>
    <br/>
    <div class="btn-group-vertical">
      <button class="btn btn-default">Wishlist</button>
      <button class="btn btn-default">Projects</button>
      <button class="btn btn-default">Funded Projects</button>
    </div>
  </div>
</div>
