<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :outstanding %>
    <%= form.check_box :outstanding, id: :project_outstanding %>
  </div>

  <div class="field">
    <%= form.label :approved %>
    <%= form.check_box :approved, id: :project_approved %>
  </div>

  <div class="field">
    <%= form.label :deleted %>
    <%= form.check_box :deleted, id: :project_deleted %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :project_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :project_description %>
  </div>

  <div class="field">
    <%= form.label :ammount %>
    <%= form.number_field :ammount, id: :project_ammount %>
  </div>

  <div class="field">
    <%= form.label :days_to_go %>
    <%= form.number_field :days_to_go, id: :project_days_to_go %>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <%= form.text_field :picture, id: :project_picture %>
  </div>

  <div class="field">
    <%= form.label :video %>
    <%= form.text_field :video, id: :project_video %>
  </div>

  <div class="field">
    <%= form.label :descriptive_page %>
    <%= form.text_area :descriptive_page, id: :project_descriptive_page %>
  </div>

  <div class="field">
    <%= form.label :delivery_date %>
    <%= form.date_select :delivery_date, id: :project_delivery_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
