<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :project_title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :project_description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :category %>
    <%= form.collection_select :category_id, Category.all, :id, :name, prompt: true, class: "form-control", id: :project_category_id %>
  </div>

  <div class="form-group">
    <%= form.label :ammount %>
    <%= form.number_field :ammount, id: :project_ammount, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :days_to_go %>
    <%= form.number_field :days_to_go, id: :project_days_to_go, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :picture %>
    <%= form.file_field :picture, id: :project_picture, direct_upload: true %>
  </div>

  <div class="form-group">
    <%= form.label :video %>
    <%= form.text_field :video, id: :project_video, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :descriptive_page %>
    <%= form.text_area :descriptive_page, id: :project_descriptive_page, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :delivery_date %>
    <%= form.date_select :delivery_date, id: :project_delivery_date, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Create", class: "btn btn-success" %>
  </div>
<% end %>
