<h1>Projects</h1>

<div class="row">
  <div class="col-md-6">
    <input type="text" class="form-control" placeholder="Search" id="search" oninput="filterChange();">
  </div>
  <div class="col-md-2">
    <%= select_tag "selected_category", options_from_collection_for_select(Category.all, "id", "name"), include_blank: "All", class: "form-control", onchange: "filterChange();" %>
  </div>
  <div class="col-md-4">
    <% if user_signed_in? %>
      <%= link_to new_project_path do %>
        <button class="btn btn-success pull-right" id="add_project" value="<%= current_user.id %>">Add new project</button>
      <% end %>
    <% end %>
  </div>
</div>
<br/>

<div class="row">
  <div class="col-md-12" id="projects_container">
  <% for p in @projects do %>
      <div class="col-md-3" id="<%= p.category.id %>">
        <%= image_tag p.picture.attached? ? p.picture : "", class: "img img-responsive" %>
        <h2><%= link_to p.title, p %></h2>
      </div>
  <% end %>
  </div>
</div>