<div class="row">
  <div class="col-md-6">
    <h1><%= @project.title %></h1>
    <%= image_tag @project.picture.attached? ? @project.picture : "", class: "img img-responsive" %>
    <br/>
    <p>
      <%= @project.description %>
    </p>
    <div class="row">
      <div class="col-md-8">
        <p id="funded_amount">
          <strong>Funded so far:</strong>
          <%= @project.funded_amount %>
        </p>
        <p>
          <strong>Goal Ammount:</strong>
          <%= @project.ammount %>
        </p>
        <p>
          <strong>Days to go:</strong>
          <%= @project.days_to_go %>
        </p>
      </div>
      <div class="col-md-4">
        <button class="btn" id="wishlist_button" onclick="clickWishlist();" value="<%= @info[:wishlist] %>" <%= @info[:disabled] %>></button>
      </div>
      <% if user_signed_in? %>
        <% if current_user.admin %>
          <div class="col-md-4">
            <button class="btn" id="outstanding_button" onclick="clickOutstanding();" value="<%= !@project.outstanding  %>"<%= @info[:disabled] %>></button>
            <td><%= link_to 'Edit', edit_project_path(@project), class:"btn btn-info" %></td>
            <td><%= link_to 'Destroy', @project, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %></td>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <h2>Funding</h2>
    <br/>
    <h3>Donate Custom Amount</h3>
    <div class="form form-inline">
      <input type="number" id="donation_input" class="form-control" value="1" min="1">
      <button class="btn btn-success" id="donation_button" onclick="clickDonate();" <%= @info[:disabled] %>>Donate</button>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Promises</h3>
        <% if @info[:user_id] == @project.user_id %>
          <button href="" class="btn btn-success" data data-toggle="modal" data-target="#newPromiseModal">Add New Promise</button>
        <% end %>
      </div>
    </div>
    <br/>


    <% for p in @info[:promises] do %>
      <div class="row">
        <div class="col-md-6">
          <p><%= p.description %></p>
        </div>
        <div class="col-md-2">
          <p><%= p.price %></p>
        </div>
        <div class="col-md-2">
          <p><%= p.release_date %></p>
        </div>
        <div class="col-md-2">
          <button class="btn btn-success" onclick="buyPromise(<%=p.id%>);" <%= @info[:disabled] %> >Fund</button>
        </div>
      </div>
    <% end %>
  </div>
</div>
<input type="hidden" id="project_id" value="<%= @project.id %>">
<input type="hidden" id="owner_id" value="<%= @project.user_id %>">
<input type="hidden" id="user_id" value="<%= @info[:user_id] %>">


<div class="modal fade" id="newPromiseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h2 class="modal-title w-100 font-weight-bold"><%= @project.title %></h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <h3 data-error="wrong" data-success="right" for="promise_price">Price</h3>
        <div class="md-form mb-5">
          <i class="fa fa-user prefix grey-text"></i>
          <input type="number" id="promise_price" class="form-control validate">
        </div>

        <h3 data-error="wrong" data-success="right" for="promise_description">Description</h3>
        <div class="md-form mb-5">
          <i class="fa fa-envelope prefix grey-text"></i>
          <input type="text_area" id="promise_description" class="form-control validate">
        </div>

        <h3 data-error="wrong" data-success="right" for="promise_release_date">Release Date</h3>
        <div class="md-form mb-4">
          <i class="fa fa-lock prefix grey-text"></i>
          <input type="date" id="promise_release_date" class="form-control validate">
        </div>

        <h3 data-error="wrong" data-success="right" for="promise_quantity">Quantity</h3>
        <div class="md-form mb-4">
          <i class="fa fa-lock prefix grey-text"></i>
          <input type="number" id="promise_quantity" class="form-control validate">
        </div>

        <input type="hidden" id="project_id" value="<%= @project.id %>">

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-success" type="submit" onclick="addPromise(<%= @project.id %>)">Save promise</button>
      </div>
    </div>
  </div>
</div>
<script type="application/javascript">
    $(document).ready(function () {
        let wishlist_button = document.getElementById("wishlist_button");
        let wishlist_id = wishlist_button.value;

        if (wishlist_id === "none") {
            modifyWishlistButton(wishlist_id, wishlist_button, 'btn btn-info', 'Add to Wishlist');
        } else {
            modifyWishlistButton(wishlist_id, wishlist_button, 'btn btn-danger', 'Remove from Wishlist');
        }

        let outstanding_button = document.getElementById("outstanding_button");
        let outstanding_value = outstanding_button.value;
        
        if (outstanding_value === "false") {
            modifyOutstandigButton(outstanding_value, outstanding_button, 'btn btn-info', 'Mark as Outstanding Project');

        } else {
            modifyOutstandigButton(outstanding_value, outstanding_button, 'btn btn-danger', 'Remove from Outstanding Projects');
        }
    });
</script>